{% extends 'shop/shop_base.html' %}
{% block title %}add to product{% endblock title %}
{% block content %}
<form method="post" class='form-control' action="{% url 'product:add_to_product' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        <p class="label_holder">Product Images:</p>
         <label for="id_Product_Image" class="file-input-button">
         Upload Images
         {{image_form.as_p}}
         </label>
     </div>
    {{ color_form.as_p }}
    {{ size_form.as_p }}
    <button type="button" id="add-size" class = "btn btn-warning">Add Size</button>
    <strong>
        <input type="text" id="size_quantity_input" class="mt-2 form-control" name="size_quantity_input" value="" readonly>
    </strong>
    {{ that_one_product_form.as_p }}
    <button type="submit" onclick="setAction('add')" class="btn btn-success">Add</button>
    <button type="submit" onclick="setAction('remove')" class="btn btn-danger">Remove</button>
    <a href="{% url 'product:addProduct' %}" class="btn btn-primary">add product</a>
    <input type="hidden" name="action" id="action" value="add">
</form>
<ul id="size-quantity-list"></ul>

{% if form.errors %}
<div class="errors">
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<script>
    
</script>
{% endblock %}